* {
    font-family: 'Inter';
    font-style: 'normal';
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    gap: 224px;
    color: #FDFDFD;
    /* position: fixed; */
    width: 1194px;
    height: 76px;
    left: 0px;
    top: 0px;

    background: #0C4730;

}

.order-select {
    background-color: #0C4730; 
    border-width: 0cqmax; 
    color: #FEDF89;
    font-size: 24px;
}
.menu-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tryicon1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#menu-icon {
    border-radius: 50px;
    background-color: #848585;
}




.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-direction: row;
    background: #F0F1F2;
    
}

.menu {
   flex-grow: 8;
}
.order {
    flex-grow: 4;
    border-style: ridge;
    background: #FFFFFF;
}
.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;

}

.item {
  
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 12px;
gap: 12px;

width: 177px;
height: 180px;

background: #FFFFFF;

border-radius: 8px;
border-style: groove;
margin: 0 15px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.food-img {
    width: 177px;
    height: 114px;

    background: #D9D9D9;
    border-radius: 8px 8px 0px 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.item-content {
     font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Text/0 */

    color: #202223;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}





.food-list {
    /* cơm bò */
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.food-item {  
    /*cơm bò */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;

    width: 101px;
    height: 28px;

    /* Divider/2 */

    background: #DFE2E5;
    border-radius: 100px;

}
.food-item:hover {
    background: #039754;
}

.food-link {
    /* cơm bò */

    width: 69px;
    height: 20px;

    /* Title/14/M */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    /* Text/0 */

    color: #202223;
    text-decoration: none;

}
.food-link:hover{
    color:#FDFDFD;
}

.sun-icon {
    display: flex;
flex-direction: row;
align-items: center;
padding: 4px 12px;
gap: 4px;

width: 72px;
height: 26px;

/* Status/Warning/5 */

background: #F79009;
border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
color: #FDFDFD;
}

.order-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.order-type {
    /* in house */
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.order-type-item {  
    /*cơm bò */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;

    width: 101px;
    height: 28px;

    /* Divider/2 */

    background: #DFE2E5;
    border-radius: 100px;

}
.order-type-item:hover {
    background: #039754;
}

.order-type-link {
    /* cơm bò */

    width: 69px;
    height: 20px;

    /* Title/14/M */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    /* Text/0 */

    color: #202223;
    text-decoration: none;

}
.order-type-link:hover{
    color:#FDFDFD;
}

